#alternativas
{
    display: none;
}

#quadro
{
    background-color: white;
}

body
{
    background-image: url("../imagens/astronauta.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}